{
  "AMQPHost" : "{{ amqp_broker.host }}:{{ amqp_broker.port }}",
  "AMQPUserPass" : "{{ amqp_broker.user }}:{{ amqp_broker.password }}",
  "ExchangeName" : "{{ amqp_broker.condor_events.exchange }}",
  "ExchangeType" : "{{ amqp_broker.condor_events.exchange_type }}",
  "RoutingKey" : "{{ amqp_broker.condor_events.exchange_routing_key }}",
  "Durable" : {{ amqp_broker.condor_events.exchange_durable | to_nice_json }},
  "Autodelete" : {{ amqp_broker.condor_events.exchange_auto_delete | to_nice_json }},
  "Internal" : false,
  "NoWait" : false,
  "EventLog" : "{{ condor_log_monitor_event_log }}",
  "LogPath" : "/logs/condor-log-monitor.log",
  "LogMaxSize" : 500,
  "LogMaxBackeups" : 3
}
