amqp:
  uri: amqp://{{amqp_user}}:{{amqp_password}}@{{amqp_broker.host}}:{{amqp_broker.port}}/de

condor:
  condor_config: /etc/condor/condor_config
  path_env_var: /opt/condor/bin/:/usr/bin/:/usr/local/bin/:/bin/

db:
  uri: postgresql://{{db_user}}:{{db_password}}@{{db_host}}:{{db_port}}/{{db_name}}?sslmode=disable

irods:
  user: "{{irods.user}}"
  pass: "{{irods.password}}"
  host: "{{irods.host}}"
  port: "{{irods.port}}"
  base: "{{irods.home}}"
  resc: "{{irods.default_resource}}"
  zone: "{{irods.zone}}"
