# Connection details.
metadata.app.listen-port = {{ default_service_port }}

# Environment information.
metadata.app.environment-name = {{ environment_name }}

# Database settings.
metadata.db.driver      = {{ metadata_db_driver }}
metadata.db.subprotocol = {{ metadata_db_vendor }}
metadata.db.host        = {{ metadata_db_host }}
metadata.db.port        = {{ metadata_db_port }}
metadata.db.name        = {{ metadata_db_name }}
metadata.db.user        = {{ metadata_db_user }}
metadata.db.password    = {{ metadata_db_password }}

# AMQP settings
metadata.amqp.host                 = {{ amqp_broker.host }}
metadata.amqp.port                 = {{ amqp_broker.port }}
metadata.amqp.user                 = {{ amqp_broker.user }}
metadata.amqp.password             = {{ amqp_broker.password }}
metadata.amqp.exchange.name        = {{ amqp_de_exchange }}
