jar-path         = /usr/local/lib/porklock/porklock-standalone.jar
porklock-tag     = {{ docker.tag }}
nfs-base         = {{ jex.nfs_base }}
irods-base       = {{ irods.home }}
irods-user       = {{ irods.user }}
irods-pass       = {{ irods.password }}
irods-host       = {{ irods.host }}
irods-port       = {{ irods.port }}
irods-zone       = {{ irods.zone }}
irods-resc       = {{ irods.default_resource }}
icommands-path   = {{ jex.icommands_path }}
condor-log-path  = /tmp/
listen-port      = {{ jex.port }}
filter-files     = .job.ad,.machine.ad,_condor_stderr,_condor_stdout,condor_exec.exe,.chirp_config,.chirp.config,logs/output-last-stdout,logs/output-last-stderr
run-on-nfs       = false
request-disk     = {{ jex.request_disk }}
batch-group      = {{ jex.batch_group }}
jex-events       = {{ jexevents.base }}
condor-config    = /etc/condor/condor_config
path             = /opt/condor/bin/:/usr/bin/:/usr/local/bin/:/bin/
log-file         = /var/log/jex/jex.log
log-level        = warn
log-backup       = 10
