jex.app.filetool-path    = /usr/local/bin/porklock
jex.app.nfs-base         = {{ jex_nfs_base }}
jex.app.irods-base       = {{ irods_home }}
jex.app.irods-user       = {{ irods_user }}
jex.app.irods-pass       = {{ irods_password }}
jex.app.irods-host       = {{ irods_host }}
jex.app.irods-port       = {{ irods_port }}
jex.app.irods-zone       = {{ irods_zone }}
jex.app.irods-resc       = {{ irods_default_resource }}
jex.app.icommands-path   = {{ jex_icommands_path }}
jex.app.condor-log-path  = /tmp/
jex.app.listen-port      = {{ jex_port }}
jex.app.filter-files     = .job.ad,.machine.ad,_condor_stderr,_condor_stdout,condor_exec.exe,.chirp_config,.chirp.config
jex.app.run-on-nfs       = false
jex.app.request-disk     = {{ jex_request_disk }}
jex.app.batch-group      = {{ jex_batch_group }}
jex.app.jex-events       = {{ jex_events }}
jex.env.condor-config    = /etc/condor/condor_config
jex.env.path             = /opt/condor/bin/:/usr/bin/
