gims.iplantcollaborative.org:5000/backwards-compat:latest
gims.iplantcollaborative.org:5000/backwards-compat:{{docker.tag}}
discoenv/porklock:{{docker.tag}}
discoenv/porklock:latest
gims.iplantcollaborative.org:5000/iplant_data:latest
gliderlabs/consul-server:latest
gims.iplantcollaborative.org:5000/de-configs-{{environment_name}}:{{docker.tag}}
