# Tree URL cleanup settings.
clockwork.tree-urls-cleanup-age     = {{ tree_urls_cleanup_age }}
clockwork.tree-urls-cleanup-start   = {{ tree_urls_cleanup_start }}
clockwork.tree-urls-cleanup-enabled = {{ tree_urls_cleanup_enable }}

# iRODS configuration settings.
clockwork.tree-urls-avu  = {{ tree_urls_avu }}
clockwork.irods-host     = {{ irods_host }}
clockwork.irods-port     = {{ irods_port }}
clockwork.irods-user     = {{ irods_user }}
clockwork.irods-password = {{ irods_password }}
clockwork.irods-home     = {{ irods_home }}
clockwork.irods-zone     = {{ irods_zone }}
clockwork.irods-resource = {{ irods_default_resource }}

# Notification cleanup settings.
clockwork.notifications.cleanup-start  = {{ notification_clean_start }}
clockwork.notifications.cleanup-age    = {{ notification_clean_age }}
clockwork.notifications.cleanup-enable = {{ notification_clean_enable }}

# Notifiction database connection settings.
clockwork.notifications.db.driver      = {{ notification_db_driver }}
clockwork.notifications.db.subprotocol = {{ notification_db_vendor }}
clockwork.notifications.db.host        = {{ notification_db_host }}
clockwork.notifications.db.port        = {{ notification_db_port }}
clockwork.notifications.db.name        = {{ notification_db_name }}
clockwork.notifications.db.user        = {{ notification_db_user }}
clockwork.notifications.db.password    = {{ notification_db_password }}
