dewey.amqp.host                 = {{ amqp_broker_host }}
dewey.amqp.port                 = {{ amqp_broker_port }}
dewey.amqp.user                 = {{ amqp_user }}
dewey.amqp.password             = {{ amqp_password }}
dewey.amqp.exchange.name        = {{ amqp_irods_exchange }}
dewey.amqp.exchange.durable     = {{ amqp_irods_exchange_durable }}
dewey.amqp.exchange.auto-delete = {{ amqp_irods_exchange_auto_delete }}

dewey.es.host                   = {{ es_host }}
dewey.es.port                   = {{ es_port }}

dewey.irods.host                = {{ irods_host }}
dewey.irods.port                = {{ irods_port }}
dewey.irods.zone                = {{ irods_zone }}
dewey.irods.user                = {{ irods_user }}
dewey.irods.password            = {{ irods_password }}
dewey.irods.default-resource    = {{ irods_default_resource }}
dewey.irods.home                = {{ irods_home }}

dewey.status.listen-port        = {{ default_service_port }}
