{
  "AMQPURI" : "amqp://{{ amqp_user }}:{{ amqp_password }}@{{ amqp_broker_host }}:{{ amqp_broker_port }}/",
  "EventLog" : "{{ condor_log_monitor_event_log }}",
  "ExchangeName" : "{{ amqp_condor_events_exchange }}",
  "ExchangeType" : "{{ amqp_condor_events_exchange_type }}",
  "RoutingKey" : "{{ amqp_condor_events_exchange_routing_key }}",
  "ExchangeDurable" : {{ amqp_condor_events_exchange_durable | to_nice_json }},
  "ExchangeAutodelete" : {{ amqp_condor_events_exchange_auto_delete | to_nice_json }},
  "ExchangeInternal" : false,
  "ExchangeNoWait" : false,
  "QueueName" : "{{ amqp_condor_events_queue_name }}",
  "QueueBindingKey" : "condor_events_binding_key",
  "QueueDurable" : true,
  "QueueAutodelete" : false,
  "QueueInternal" : false,
  "QueueExclusive" : false,
  "QueueNoWait" : false,
  "ConsumerTag" : "tag",
  "DBURI" : "postgres://{{ jexdb_user }}:{{ jexdb_password }}@{{ jexdb_host }}:{{ jexdb_port }}/{{ jexdb_db }}?sslmode=disable",
  "HTTPListenPort" : "{{ default_service_port }}",
  "EventURL" : "{{ jex_events_event_url }}",
  "JEXURL" : "http://{{ jex_host }}:{{ jex_port }}",
  "LogPath" : "/home/iplant/logs/jex-events.log",
  "LogMaxSize" : 500,
  "LogMaxBackups" : 3
}
