<configuration scan="true" debug="false">
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"{{item.name}}"}</customFields>
        <fieldNames>
            <logger>loggerName</logger>
            <thread>thread</thread>
            <levelValue>[ignore]</levelValue>
        </fieldNames>
    </encoder>
  </appender>
 <appender name="METRICS-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"{{item.name}}", "tags": ["metrics"]}</customFields>
        <fieldNames>
            <logger>loggerName</logger>
            <thread>thread</thread>
            <levelValue>[ignore]</levelValue>
        </fieldNames>
    </encoder>
  </appender>

  <!-- Configuration Logging -->
  <Logger name="clojure-commons.config" level="INFO"/>
  <!-- Request Logging -->
  <Logger name="AccessLogger" level="INFO" additivity="false">
    <appender-ref ref="METRICS-CONSOLE" />
  </Logger>
  <!-- Jargon Logging -->
  <Logger name="org.irods.jargon" level="ERROR" />
  <!-- Service Call Trace Message Logging -->
  <Logger name="trace" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
