[Unit]
Description={{monkey.service_description}}
BindsTo=docker.service
PartOf=docker.service
After=docker.service
Requisite=docker.service

[Service]
User=iplant
ExecStartPre=-/usr/bin/docker rm -v {{monkey.container_name}}
ExecStart=/usr/bin/docker run --name {{monkey.container_name}} \
        -v {{ de_config_dir }}:/etc/iplant/de \
        -v /etc/localtime:/etc/localtime -v /etc/timezone:/etc/timezone \
        --log-driver={{docker.log_driver}} --log-opt syslog-tag={{monkey.service_name_short}} \
        {{docker.user}}/{{monkey.image_name}}:{{docker.tag}} --config /etc/iplant/de/{{monkey.properties_file}}
ExecStop=-/usr/bin/docker stop {{monkey.container_name}}
Restart=on-failure

[Install]
WantedBy=multi-user.target

