# Database connection settings.
notificationagent.db.driver      = {{ notification_db_driver }}
notificationagent.db.subprotocol = {{ notification_db_vendor }}
notificationagent.db.host        = {{ notification_db_host }}
notificationagent.db.port        = {{ notification_db_port }}
notificationagent.db.name        = {{ notification_db_name }}
notificationagent.db.user        = {{ notification_db_user }}
notificationagent.db.password    = {{ notification_db_password }}

# E-mail configuration settings.
notificationagent.email-url      = {{ email_base }}
notificationagent.enable-email   = true

# Notification recipients.
notificationagent.recipients = {{ donkey_base }}/callbacks/notification

# Listen port.
notificationagent.listen-port = {{ default_service_port }}
