db-user = {{ db_user }}
db-password = {{ db_password }}
db-host = {{ db_host }}
db-port = {{ db_port }}
db-name = {{ db_name }}
port = {{ default_service_port }}
log-file = {{ user_preferences_log_file }}
