[Unit]
Description={{de.service_description}}
BindsTo=docker.service
PartOf=docker.service
After=docker.service
Requisite=docker.service

[Service]
User=iplant
ExecStartPre=-/usr/bin/docker rm -v {{de.container_name}}
ExecStart=/usr/bin/docker run --name {{de.container_name}} \
        -p 8080 \
        -v {{ de_config_dir }}:/etc/iplant/de \
        -v {{ logging.dir }}:/home/iplant/log \
        -v /etc/localtime:/etc/localtime -v /etc/timezone:/etc/timezone \
        --volumes-from {{data_container.container_name}} \
        --log-driver={{docker.log_driver}} --log-opt syslog-tag={{de.service_name_short}} \
        {{docker.user}}/{{de.image_name}}:{{docker.tag}}
ExecStop=/usr/bin/docker stop {{de.container_name}}
Restart=on-failure

[Install]
WantedBy=multi-user.target

