pom.xml
*.jar
/lib/
/classes/
/target/
.lein-*
*~
*.swp
.dir-locals.el
.nrepl-hist.eld
.nrepl-port
/.classpath
/.project
/.gradle
/bin
builds/
checkouts/
node_modules/
.idea
*.iml
*.ipr
*.iws
/out
.DS_Store
services/*/*-build
libs/*/target
services/*/target
*.rpm
*.class
