.gradle
.metadata
build
ucdetector_reports

# the Mac .DS_Store directory
.DS_Store

# ignore intellij files
*.ipr
*.iws
*.ids
*.iml
out/
applications/config*
modules/analyses-module/.classpath
modules/analyses-module/.gitignore
modules/analyses-module/.project
modules/analyses-module/.settings/org.eclipse.jdt.core.prefs
modules/analyses-module/.gwt/.gwt-log