@sprite .favorite {
    gwt-image: "favIcon";
    cursor: pointer;
    float: left;
}

@sprite .favorite:hover {
    gwt-image: "favIconDelete";
    cursor: pointer;
    float: left;
}

@sprite .favoriteDisabled {
    gwt-image: "disabledFavIcon";
    cursor: pointer;
    float: left;
}

@sprite .favoriteDisabled:hover {
    gwt-image: "favIconAdd";
    cursor: pointer;
    float: left;
}

@sprite .unavailable {
    gwt-image: "exclamation";
    float: left;
}

