<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Jargon Logging -->
    <logger name="org.irods.jargon" level="ERROR"/>
    <!-- c3p0 logging -->
    <Logger name="com.mchange.v2.log.MLog" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
