# Discovery Environment tmpfiles.d configuration file.

# See tmpfiles.d(5) for details

# Clear /tmp dir on reboot
D /tmp 1777 root root -

# Clear analyses directories older than 10d
D /tmp/*/*/ 1777 root root 10d

# Clear user directories older than 30d
D /tmp/*/ 1777 root root 30d

# Create DE config dir
d {{de_config_dir}} 0644 root root -


