jar-path         = /usr/local/lib/porklock/porklock-standalone.jar
porklock-tag     = {{ docker.tag }}
nfs-base         = {{ jex_nfs_base }}
irods-base       = {{ irods_home }}
irods-user       = {{ irods_user }}
irods-pass       = {{ irods_password }}
irods-host       = {{ irods_host }}
irods-port       = {{ irods_port }}
irods-zone       = {{ irods_zone }}
irods-resc       = {{ irods_default_resource }}
icommands-path   = {{ jex_icommands_path }}
condor-log-path  = /tmp/
listen-port      = {{ jex_port }}
filter-files     = .job.ad,.machine.ad,_condor_stderr,_condor_stdout,condor_exec.exe,.chirp_config,.chirp.config,logs/output-last-stdout,logs/output-last-stderr
run-on-nfs       = false
request-disk     = {{ jex_request_disk }}
batch-group      = {{ jex_batch_group }}
jex-events       = {{ jex_events }}
condor-config    = /etc/condor/condor_config
path             = /opt/condor/bin/:/usr/bin/:/usr/local/bin/:/bin/
log-file         = /var/log/jex/jex.log
log-level        = warn
log-backup       = 10
