###############################################################################
# Confluence Settings
###############################################################################
org.iplantc.discoveryenvironment.confluence.baseUrl             = {{ confluence_base }}
org.iplantc.discoveryenvironment.confluence.parentPageName      = {{ confluence_parent_page }}
org.iplantc.discoveryenvironment.confluence.user                = {{ confluence_user }}
org.iplantc.discoveryenvironment.confluence.password            = {{ confluence_password }}
org.iplantc.discoveryenvironment.confluence.spaceName           = {{ confluence_space_name }}
org.iplantc.discoveryenvironment.confluence.spaceUrl            = {{ confluence_base }}{{ confluence_space_url }}/
org.iplantc.discoveryenvironment.confluence.ratingCommentSuffix = {{ confluence_rating_suffix }}
