###############################################################################
# Configuration Properties for the Discovery Environment (DE)
###############################################################################

###############################################################################
# Deployed Version Metadata
#
# This values are used since reading the MANIFEST.MF file from a deployed WAR
# is a tricky environment.
###############################################################################
org.iplantc.discoveryenvironment.about.defaultBuildNumber = {{ de_version_name }}
org.iplantc.discoveryenvironment.about.releaseVersion     = {{ de_version }}

###############################################################################
# CAS Authentication Settings
###############################################################################
org.iplantc.discoveryenvironment.cas.base-url       = {{ cas_base }}
org.iplantc.discoveryenvironment.cas.server-name    = {{ de_base }}
org.iplantc.discoveryenvironment.cas.validation     = /iplant-cas-ticket-validator
org.iplantc.discoveryenvironment.cas.proxy-receptor = /iplant-cas-proxy-receptor
org.iplantc.discoveryenvironment.cas.logout-url     = /iplant-cas-logout
org.iplantc.discoveryenvironment.cas.app-name       = {{ de_name }}
org.iplantc.discoveryenvironment.cas.login-url      = /login
org.iplantc.discoveryenvironment.cas.no-logout-url  = {{ cas_no_logout_url }}
org.iplantc.discoveryenvironment.cas.app-list       = {{ cas_app_list }}

###############################################################################
# CAS Session Keepalive Settings
###############################################################################
org.iplantc.discoveryenvironment.keepalive.service  = {{ de_base }}/discoveryenvironment/empty
org.iplantc.discoveryenvironment.keepalive.target   = {{ cas_base }}/login?service={{ de_base }}/discoveryenvironment/empty
org.iplantc.discoveryenvironment.keepalive.interval = 90

###############################################################################
# Maintenance Settings
###############################################################################
org.iplantc.discoveryenvironment.maintenance-file = {{ de_maintenance_file }}

###############################################################################
# Environment Information
###############################################################################
org.iplantc.discoveryenvironment.environment.name            = {{ environment_name }}
org.iplantc.discoveryenvironment.environment.prod-deployment = {{ prod_deployment }}

###############################################################################
# Notification Agent Settings
###############################################################################
# The Notification Polling Interval in Seconds
org.iplantc.discoveryenvironment.notifications.poll-interval = {{ de_notification_poll }}

###############################################################################
# Service Keys that map Service URLs
###############################################################################
# As of CORE-782, this is used by dispatcher to determine if a ServiceWrapper
# is wrapping a URL or a "service key"

# this is the service-endpoint keys prefix
# (this value is utilized by classes/components in de-common-*.jar)
prefix=org.iplantc.services

# Bootstrap
org.iplantc.services.bootstrap = {{ donkey_base }}/secured/bootstrap

# Logout
org.iplantc.services.logout = {{ donkey_base }}/secured/logout

# DE Data Management Endpoints
org.iplantc.services.de-data-mgmt.base           = {{ donkey_base }}/secured/filesystem/
org.iplantc.services.de-data-mgmt.getuserhomedir = {{ donkey_base }}/secured/filesystem/home

# DE File I/O endpoints
org.iplantc.services.file-io.base.secured   = {{ donkey_base }}/secured/fileio/
org.iplantc.services.file-io.file-upload    = {{ donkey_base }}/fileio/upload

# Buggalo Endpoint
org.iplantc.services.buggalo.baseUrl = {{ donkey_base }}/secured/tree-viewer-urls

# Tool Request Endpoint
org.iplantc.services.toolRequests             = {{ donkey_base }}/tool-requests
org.iplantc.services.toolRequests.statusCodes = {{ donkey_base }}/tool-requests/status-codes

# Apps endponts
org.iplantc.services.apps                      = {{ donkey_base }}/apps
org.iplantc.services.apps.ids                  = {{ donkey_base }}/apps/ids
org.iplantc.services.apps.categories           = {{ donkey_base }}/apps/categories
org.iplantc.services.apps.elements             = {{ donkey_base }}/apps/elements
org.iplantc.services.apps.elements.tools       = {{ donkey_base }}/apps/elements/tools
org.iplantc.services.apps.elements.infoTypes   = {{ donkey_base }}/apps/elements/info-types
org.iplantc.services.apps.elements.dataSources = {{ donkey_base }}/apps/elements/data-sources
org.iplantc.services.apps.argPreview           = {{ donkey_base }}/apps/arg-preview

# Pipelines endpoints
org.iplantc.services.apps.pipelines            = {{ donkey_base }}/apps/pipelines

# Reference Genomes
org.iplantc.services.referenceGenomes          = {{ donkey_base }}/reference-genomes

# Analysis Endpoints
org.iplantc.services.analyses                  = {{ donkey_base }}/analyses

# Tools Endpoints
org.iplantc.services.tools                     = {{ donkey_base }}/tools

# Path List File Identifier
org.iplantc.pathList.fileIdentifier            = {{ path_list_file_identifier }}

###############################################################################
# URL Prefixes
###############################################################################
# The URL prefix to use when accessing the DE Mule services.
org.iplantc.discoveryenvironment.muleServiceBaseUrl            = {{ donkey_base }}/secured/
org.iplantc.discoveryenvironment.unprotectedMuleServiceBaseUrl = {{ donkey_base }}/

###############################################################################
# Default workspace App Categories.
###############################################################################
org.iplantc.discoveryenvironment.workspace.rootAppCategory          = {{ metadactyl_user_root }}
org.iplantc.discoveryenvironment.workspace.defaultAppCategories      = {{ metadactyl_user_subs }}
org.iplantc.discoveryenvironment.workspace.defaultBetaAppCategoryId = {{ metadactyl_beta_category }}

###############################################################################
# Enable / Disable right click for QA team. QA Team will use the right click functionality
# to access the context menu from some of their testing tools.
# Should be set to false in all environments other than QA
###############################################################################
org.iplantc.discoveryenvironment.contextMenu.enabled = {{ de_enable_ctx }}

###############################################################################
# Default analysis output folder name
###############################################################################
org.iplantc.discoveryenvironment.workspace.defaultOutputFolderName = {{ metadactyl_out_dir }}

###############################################################################
# Backend Services URL/Endpoint Configuration
###############################################################################

org.iplantc.services.filesystem.index       = {{ donkey_base }}/secured/filesystem/index
org.iplantc.services.filesystem.index-status = {{ donkey_base }}/secured/filesystem/index-status

# The base URL used to contact the iPlant e-mail service
org.iplantc.services.email-base = {{ email_base }}/
