/** Add css rules here for your application. */
.iplantc-about-pad-text {
	font-size: 12px;
	padding: 5px 2px 5px 2px;
	background: #fff;
}

div.iplantc-about-pad-text p {
	padding: 0px;
	margin: 0px;
}

.iplantc-mydata-shortcut {
	background-image: url(./images/data.png);
	border: none !important;
}

.iplantc-myanalysis-shortcut {
	background-image: url(./images/analyses.png);
	border: none !important;
}

.iplantc-catalog-shortcut {
	background-image: url(./images/apps.png);
	border: none !important;
}

.iplantc-mydata-shortcut-hover {
	background-image: url(./images/data_hover.png);
	border: none !important;
}

.iplantc-myanalysis-shortcut-hover {
	background-image: url(./images/analyses_hover.png);
	border: none !important;
}

.iplantc-catalog-shortcut-hover {
	background-image: url(./images/apps_hover.png);
	border: none !important;
}

.iplantc-background {
	background: url(./images/background.png) repeat-x top center,url(./images/de_desktop_background_repeat-all.png) !important;
}

.iplantc-blue {
	color: #0098AA;
}

.iplantc-blue-highlight {
	color: #AADDCC;
}

.iplantc-green {
	color: #446600;
}

.iplantc-green-highlight {
	color: #77AA22;
}

.iplantc-orange {
	color: #DB6619;
}

.iplantc-tan {
	color: #C4BD8F;
}

/**
 * GXT overrides
 */
html,body {
	font-size: 14px;
	font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
		Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
		Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
		sans-serif !important;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

/** Fix for IE not displaying shadows correctly: don't show them at all */
.x-ie-shadow {
	width: 0px !important;
	height: 0px !important;
}

.x-tool-closewindow {
	background-image: url('./images/button_exit.png');
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	padding-right: 3px;
}

.x-tool-closewindow-hover {
	background-image: url('./images/button_exit_hover.png');
}

.x-tool-minimizewindow {
	background-image: url('./images/button_minimize.png');
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	padding-right: 2px;
}

.x-tool-minimizewindow-hover {
	background-image: url('./images/button_minimize_hover.png');
}

.x-tool-maximizewindow {
	background-image: url('./images/button_maximize.png');
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	padding-right: 2px;
}

.x-tool-maximizewindow-hover {
	background-image: url('./images/button_maximize_hover.png');
}

.x-tool-layoutwindow {
	background-image: url('./images/window_layout.png');
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	padding-right: 2px;
}

.x-tool-layoutwindow-hover {
	background-image: url('./images/window_layout_hover.png');
}

.x-tool-restorewindow {
	background-image: url('./images/button_restore.png');
	height: 15px;
	width: 15px;
	position: relative;
	top: 2px;
	padding-right: 2px;
}

.x-tool-restorewindow-hover {
	background-image: url('./images/button_restore_hover.png');
}

.de_header_menu_body {
	background-color: white;
	outline: none;
}

.de_header_menu {
	border-style: solid;
	border-color: #0098AA #0098AA;
	padding: 1px;
	margin-top: 5px;
}

.de_notification_indicator {
	font-size: 11px;
	padding: 0px 4px;
	position: relative;
	top: -5px;
}

.de_notification_indicator_highlight {
	background-color: #DB6619;
	color: white;
}

.tag {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 3px;
	float: left;
}

.tag-remove {
	cursor: pointer;
	vertical-align: text-top;
	margin: 5px 3px 3px 3px;
	background: url('./images/x.png') top no-repeat;
	position: relative;
	top: 2px;
}

.add_button {
	background-image: url('./images/add.png');
	height: 16px;
	width: 16px;
}

.remove_button {
	background-image: url('./images/delete_icon.png');
	height: 16px;
	width: 16px;
}

.delete_button {
	background-image: url('./images/delete_text.png');
	height: 16px;
	width: 40px;
}

.unshare_button {
	background-image: url('./images/unshare.png');
	height: 16px;
	width: 47px;
}

.done_button {
	background-image: url('./images/accept.png');
	height: 16px;
	width: 16px;
}

.form_prompt {
	font-size: 12px;
}

.notification_context {
	text-decoration: underline;
	cursor: pointer;
}

.new_notification {
	background-color: #EFEFEF;
}

.help {
	background-image: url('./images/help.png');
	height: 16px;
	width: 16px;
	vertical-align: top;
}
