
/** Add css rules here for your application. */
.iplantc-about-pad-text {
	font-size: 12px;
	padding: 5px 2px 5px 2px;
	background: #fff;
}

div.iplantc-about-pad-text p {
	padding: 0px;
	margin: 0px;
}

/**
 * GXT overrides
 */
/*html,body {*/
	/*font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",*/
		/*Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",*/
		/*Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,*/
		/*sans-serif !important;*/
	/*border: 0 none;*/
	/*overflow: hidden;*/
	/*height: 100%;*/
/*}*/


