<table width=100% style="padding:5px;">
<tbody>
    <tr>
        <td class="filename" width=50% />
        <td class="createwithin" width=50%  />
    </tr>
    <tr>
        <td class="negatefilename" width=50%  />
        <td class="modifiedwithin" width=50%  />
    </tr>
    <tr>
        <td class="metadataattrib" width=50%  />
        <td class="owner" width=50%  />
    </tr>
    <tr>
        <td class="metadataval" width=50%  />
        <td class="shared" width=50%  />
    </tr>
    <tr>
        <td class="filesize" width=50%/>
        <td class="tags" width=50%/>
    </tr>
    <tr>
          <td width=50% />
          <td class="trashandfilter" width=50%/>
    </tr>
    <tr>
      <td width=50% />
      <td class="search" width=50% />
    </tr>
    </tbody>
</table>