<table>
	<tbody>
		<tr >
			<th colspan="2" style="font-style: italic;"> Details: </th>
		</tr>
		<tr>
			<td style="font-weight: bold;" class= "cell1" />
			<td class= "cell2"/>
		</tr>
		<tr>
			<td style="font-weight: bold;" class= "cell3" />
			<td class= "cell4"/>
		</tr>
		<tr>
			<td style="font-weight: bold;" class= "cell5" />
			<td class= "cell6"/>
		</tr>
		<tr>
			<td style="font-weight: bold;" class= "cell7" />
			<td class= "cell8"/>
		</tr>
		<tr>
			<td style="font-weight: bold;" class= "cell9" />
			<td class= "cell10"/>
		</tr>
        <tr>
            <td style="font-weight: bold;" class= "cell11" />
            <td class= "cell12"/>
        </tr>
	</tbody>
</table>