@charset "UTF-8";
/* CSS Document */
BODY {
	background-color: #FFFFFF;
	background-image: url('bg.png');
	background-repeat: repeat-x;
	color: #000000;
	font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
		Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
		Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
}

h1,h2 {
	color: #db6619;
	font-size: 24px;
}

/* Used for the sections within the footer navigation bar */
.whiteline {
	border-right: solid 1px white;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	line-height: 18px;
}

.noline {
	text-align: center;
	font-size: 12px;
	padding: 5px;
	vertical-align: text-top;
	line-height: 18px;
}

.footer {
	border: #71c5cf 1px solid;
	background-color: #b2e0e5;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 12px;
	width: auto;
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.footer a {
	color: #0098aa;
	text-decoration: none;
	border-bottom: solid 1px #0098aa;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: dashed #0098aa 1px;
	cursor: pointer;
}

.project_text {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 12px;
	width: auto;
	position: fixed;
	bottom: 0 px;
	position: fixed;
	bottom: 100px;
	left: 10px;
	right: 10px;
}

a {
	cursor: pointer;
	color: #0098aa;
	text-decoration: none !important;
	border-bottom: 1px dotted #0098aa;
	font-weight: normal;
	margin: 5px;
}

a:hover {
	color: #0098aa;
	border-bottom: 1px solid #0098aa;
	text-decoration: none;
}

.login-wrapper {
	position: absolute;
	top: 150px;
	right: 25px;
	width: 30%;
	float: right;
	border: 1px #cdcdcd solid;
	background-color: #FFFFFF;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	padding: 20px;
	width: 241px;
}

.maintenance_wrapper {
	position: absolute;
	color: red;
	font-weight: bold;
	top: 150px;
	right: 25px;
	width: 30%;
	float: right;
	border: 1px #cdcdcd solid;
	background-color: #FFFFFF;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	padding: 20px;
	width: 241px;
}

.submitButton {
	margin-bottom: 10px;
	background: #D96727;
	border-radius: 2px;
	border: 2px solid #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 0 1px #666 inset, /* Outer bevel */ 
		 0 0 0 2px #FFA876 inset, /* Inner bevel */ 
		 0 28px 32px -8px rgba(251, 176, 59, 1) inset, /* Inner gradient */ 
		 1px 1px 3px rgba(0, 0, 0, 0.2) /* Drop shadow */;
	color: #fff;
	font-size: 14px;
	font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
		Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
		Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
		sans-serif !important;
	cursor: pointer;
	padding: 15px 35px;
	-webkit-border-radius: 5px;
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 0 1px #666 inset, /* Outer bevel */ 
		 0 0 0 2px #FFA876 inset, /* Inner bevel */ 
		 0 28px 32px -8px rgba(251, 176, 59, 1) inset, /* Inner gradient */ 
		 1px 1px 3px rgba(0, 0, 0, 0.2) /* Drop shadow */;
}

.label {
	font-weight: normal;
	color: #898989;
	font-size: 10px;
}