{{data_container.container_name}}
wc-data
ncbi-sra-configs
ncbi-sra-test-configs
ncbi-sra-submit-ssh-key-data
config-anon-files
config-apps
config-clockwork
config-clm
config-data-info
config-de-ui
config-de-ui-nginx
config-dewey
config-info-typer
config-infosquito
config-iplant-email
config-iplant-groups
config-jex-events
config-kifshare
config-metadata
config-monkey
config-notification-agent
config-saved-searches
config-terrain
config-tree-urls
config-user-preferences
config-user-sessions
iplant-data-apps
iplant-data-de-ui
iplant-data-de-ui-nginx
iplant-data-logstash-forwarder
iplant-data-terrain
