@bg-color: white;
@download-text-color: #000000;
@download-button-color-start: #185DA2;
@download-button-color-stop: #2989E6;

.ellipsis () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}