<?xml version="1.0" encoding="UTF-8"?>

<web-app version='2.5' xmlns='http://java.sun.com/xml/ns/javaee'
         xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd'>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/classes/belphegor-base.xml
            /WEB-INF/classes/belphegor-security.xml
        </param-value>
    </context-param>

    <!-- Servlets -->
    <servlet>
        <servlet-name>sessionInitializationServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.auth.CasSessionInitializationServlet</servlet-class>
        <init-param>
            <param-name>initialPage</param-name>
            <param-value>#workspace</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>logoutSuccessServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.auth.CasLogoutServlet</servlet-class>
        <init-param>
            <param-name>propertyNamePrefix</param-name>
            <param-value>org.iplantc.belphegor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>loggedOutServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.auth.CasLoggedOutServlet</servlet-class>
        <init-param>
            <param-name>propertyNamePrefix</param-name>
            <param-value>org.iplantc.belphegor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>accessDeniedServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.auth.CasAccessDeniedServlet</servlet-class>
        <init-param>
            <param-name>propertyNamePrefix</param-name>
            <param-value>org.iplantc.belphegor</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>deServiceDispatcher</servlet-name>
        <servlet-class>org.iplantc.de.server.services.DEServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionManagementServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.services.SessionManagementServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>propertyServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.services.PropertyServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confluenceServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.ConfluenceServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emptyResponseServlet</servlet-name>
        <servlet-class>org.iplantc.de.server.EmptyResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>belphegorPropertiesService</servlet-name>
        <servlet-class>org.iplantc.admin.belphegor.server.services.BelphegorPropertyServiceImpl</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>sessionInitializationServlet</servlet-name>
        <url-pattern>/belphegor/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSuccessServlet</servlet-name>
        <url-pattern>/belphegor/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loggedOutServlet</servlet-name>
        <url-pattern>/belphegor/logged-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accessDeniedServlet</servlet-name>
        <url-pattern>/belphegor/access-denied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deServiceDispatcher</servlet-name>
        <url-pattern>/belphegor/deservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionManagementServlet</servlet-name>
        <url-pattern>/belphegor/sessionmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>propertyServlet</servlet-name>
        <url-pattern>/belphegor/properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confluenceServlet</servlet-name>
        <url-pattern>/belphegor/confluence</url-pattern>
        <url-pattern>/discoveryenvironment/confluence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emptyResponseServlet</servlet-name>
        <url-pattern>/belphegor/empty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>belphegorPropertiesService</servlet-name>
        <url-pattern>/belphegor/belphegorProperties</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <!-- Filter Mapping Definitions -->
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>belphegor.jsp</welcome-file>
    </welcome-file-list>
</web-app>
