[Unit] 
Description={{elk.data.service_description}}
BindsTo=docker.service 
PartOf=docker.service
After=docker.service
Requisite=docker.service 

[Service]
Type=oneshot
ExecStart=-/usr/bin/docker run --name {{elk.data.container_name}} -v /usr/share/elasticsearch/data/ {{elk.data.image_name}}

SyslogIdentifier=elk-data
