[Unit]
Description={{anon_files.service_description}}
BindsTo=docker.service
PartOf=docker.service
After=docker.service
Requisite=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -v {{anon_files.container_name}}
ExecStart=/usr/bin/docker run --name {{anon_files.container_name}} \
-v {{ de_config_dir }}:/etc/iplant/de \
-v /etc/localtime:/etc/localtime -v /etc/timezone:/etc/timezone \
-p {{anon_files.port}}:60000 \
--log-driver={{docker.log_driver}} \
{{docker.user}}/{{anon_files.image_name}}:{{docker.tag}} --config /etc/iplant/de/{{anon_files.properties_file}}
ExecStop=-/usr/bin/docker stop {{anon_files.container_name}}
Restart=on-failure

SyslogIdentifier={{anon_files.container_name}}
SyslogFacility={{systemd.syslogFacility}}

[Install]
WantedBy=multi-user.target

