[Unit]
Description={{condor_log_monitor.service_description}}
BindsTo=docker.service
PartOf=docker.service
After=docker.service
Requisite=docker.service

[Service]
User=iplant
ExecStartPre=-/usr/bin/docker rm -v {{condor_log_monitor.container_name}}
ExecStart=/usr/bin/docker run --name {{condor_log_monitor.container_name}} \
-v /var/log/condor/:/var/log/condor/ \
-v {{ de_config_dir }}:/etc/iplant/de \
-v /etc/localtime:/etc/localtime -v /etc/timezone:/etc/timezone \
--log-driver={{docker.log_driver}} \
{{docker.user}}/{{condor_log_monitor.image_name}}:{{docker.tag}} --config /etc/iplant/de/{{condor_log_monitor.properties_file}}
ExecStop=-/usr/bin/docker stop {{condor_log_monitor.container_name}}
Restart=on-failure

SyslogIdentifier={{condor_log_monitor.container_name}}
SyslogFacility={{systemd.syslogFacility}}

[Install]
WantedBy=multi-user.target

