[Unit]
Description={{info_typer.service_description}}
BindsTo=docker.service
PartOf=docker.service
After=docker.service
Requisite=docker.service

[Service]
User=iplant
ExecStartPre=-/usr/bin/docker rm -v {{info_typer.container_name}}
ExecStart=/usr/bin/docker run --name {{info_typer.container_name}} \
-v {{ de_config_dir }}:/etc/iplant/de \
-v /etc/localtime:/etc/localtime -v /etc/timezone:/etc/timezone \
--log-driver={{docker.log_driver}} \
{{docker.user}}/{{info_typer.image_name}}:{{docker.tag}} --config /etc/iplant/de/{{info_typer.properties_file}}
ExecStop=-/usr/bin/docker stop {{info_typer.container_name}}
Restart=on-failure

SyslogIdentifier={{info_typer.container_name}}
SyslogFacility={{systemd.syslogFacility}}

[Install]
WantedBy=multi-user.target

