iplant-groups.app.listen-port = {{ default_service_port }}

iplant-groups.grouper.base-url    = {{ iplant_groups.grouper.base_url }}
iplant-groups.grouper.api-version = {{ iplant_groups.grouper.api_version }}
iplant-groups.grouper.username    = {{ iplant_groups.grouper.username }}
iplant-groups.grouper.password    = {{ iplant_groups.grouper.password }}
