monkey.log-progress-enabled  = true
monkey.log-progress-interval = 10000
monkey.retry-period-ms       = 1000

monkey.amqp.host     = {{ amqp_broker_host }}
monkey.amqp.port     = {{ amqp_broker_port }}
monkey.amqp.user     = {{ amqp_user }}
monkey.amqp.password = {{ amqp_password }}
monkey.amqp.queue    = monkey

monkey.amqp.exchange.name        = {{ amqp_de_exchange }}
monkey.amqp.exchange.durable     = {{ amqp_de_exchange_durable }}
monkey.amqp.exchange.auto-delete = {{ amqp_de_exchange_auto_delete }}

monkey.es.url            = http://{{ es_host }}:{{ es_port }}
monkey.es.index          = data
monkey.es.tag-type       = tag
monkey.es.batch-size     = 1000
monkey.es.scroll-size    = {{ es_scroll_size }}
monkey.es.scroll-timeout = 1m

monkey.tags.host       = {{ metadata_db_host }}
monkey.tags.port       = {{ metadata_db_port }}
monkey.tags.db         = {{ metadata_db_name }}
monkey.tags.user       = {{ metadata_db_user }}
monkey.tags.password   = {{ metadata_db_password }}
monkey.tags.batch-size = 10

