---
############################################
# Services Support
############################################
- include: playbooks/de-services-common.yml
- include: playbooks/de-docker-network.yml

############################################
# Condor
############################################
- include: playbooks/de-porklock.yaml

############################################
# Databases
############################################
- include: db-migrations.yaml

############################################
# Services
############################################
- include: playbooks/de-rabbitmq-cfg.yml
- include: playbooks/de-condor-launcher.yml
- include: playbooks/de-image-janitor.yaml
- include: playbooks/de-road-runner.yml
- include: playbooks/de-deploy-services.yaml
- include: playbooks/de-stop-containers-cleanup.yaml
- include: playbooks/de-rm-containers-cleanup.yaml
- include: playbooks/de-rm-jex.yaml

### TODO CORE-7936: Remove after 2.8 release
- include: playbooks/de-TMP-RUN-ONCE-app-beta-tagger.yaml
