@def headerHeight 39px;
@def footerHeight 30px;
@def footerHeight10 40px;

@def TEXTA_BOLD textaBold;
@def TEXTA_REGULAR textaRegular;
 
@font-face {
    font-family: TextaBold;
    src: TEXTA_BOLD format("opentype");
}
 
@font-face {
    font-family: TextaRegular;
    src: TEXTA_REGULAR format("opentype");
}

.deBody {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@sprite .iplantHeader {
    gwt-image: 'headerBg';
    background-color: #0971AB;
    position: absolute;
    height: headerHeight;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: -1px 0px 4px 0px #777;
}

.logoContainer {
    display: inline-block;
}
.logoContainer a {
    overflow: auto;
    color: transparent;
}

.logoContainer span {
    color: #eee;
    font-size: 1.3em;
    text-align: right;
    font-style: normal;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

@sprite .logo {
    gwt-image: 'cyverseLogo';
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 3px;
    background-color: white;
    background-size: contain;
}

.logoText {
    cursor: default;
}

@sprite .desktopBackground {
    gwt-image: 'desktopBackground';
    position: absolute;
    width: 100% !important;
    /*height: 100% !important;*/
    z-index: 0;
    top: headerHeight;
    background-position: top center;
    bottom: footerHeight;
    background-size: contain;
    background-color: #8B9BB3;
}

@sprite .desktopBackgroundRepeat {
    gwt-image: 'desktopBackgroundRepeat';
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    z-index: 0;
    top: headerHeight;
    bottom: footerHeight;
}

.userMenuContainer {
    position: absolute;
    right: 30px;
    bottom: 0;
}

@def userMenuIconHeight 28px;
@def userMenuIconWidth 28px;
@def userMenuIconPaddingRight 5px;
@def userMenuIconOpacity 0.8;
@def userMenuIconOpacityHover 1;

@sprite .forums {
    gwt-image: 'forumsImg';
    height: userMenuIconHeight !important;
    width: userMenuIconWidth !important;
    display: inline-block;
    padding-right: userMenuIconPaddingRight;
    opacity: userMenuIconOpacity;
    position: relative;
    background-size: contain;
}
@sprite .userPrefs {
    gwt-image: 'userPrefImg';
    height: userMenuIconHeight !important;
    width: userMenuIconWidth !important;
    display: inline-block;
    padding-right: userMenuIconPaddingRight;
    opacity: userMenuIconOpacity;
    position: relative;
    background-size: contain;
}
@sprite .notification {
    gwt-image: 'notificationsImg';
    height: userMenuIconHeight !important;
    width: userMenuIconWidth !important;
    display: inline-block;
    padding-right: userMenuIconPaddingRight;
    opacity: userMenuIconOpacity;
    position: relative;
    background-size: contain;
}

.forums:hover {
    opacity: userMenuIconOpacityHover;
}
.userPrefs:hover {
    opacity: userMenuIconOpacityHover;
}
.notification:hover {
    opacity: userMenuIconOpacityHover;
}

.windowBtnNav {
    position: fixed;
    left: 30px;
    top: 40px;
}

@def winBtnHeight 72px;
@def winBtnWidth 72px;
@def winBtnMarginTop 10px;

@sprite .analyses {
    gwt-image: 'analysisBtn';
    height: winBtnHeight !important;
    width: winBtnWidth !important;
    margin-top: winBtnMarginTop;
    background-size: contain;
}
@sprite .apps {
    gwt-image: 'appBtn';
    height: winBtnHeight !important;
    width: winBtnWidth !important;
    margin-top: winBtnMarginTop;
    background-size: contain;
}
@sprite .data {
    gwt-image: 'dataBtn';
    height: winBtnHeight !important;
    width: winBtnWidth !important;
    margin-top: winBtnMarginTop;
    background-size: contain;
}

@sprite .analyses:hover {
    gwt-image: 'analysisBtnHover';
    background-size: contain;
}
@sprite .apps:hover {
    gwt-image: 'appBtnHover';
    background-size: contain;
}
@sprite .data:hover {
    gwt-image: 'dataBtnHover';
    background-size: contain;
}

@sprite .feedback {
    gwt-image: 'feedbackImg';
    position: fixed;
    bottom: footerHeight10;
    right: 100px;
    height: 37px !important;
    width: 115px !important;
    background-size: contain;
}

.taskBarLayout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.userContextMenu {
    background-color: white;
    outline: none;
    border: solid #0971AB;
    padding: 1px;
    margin-top: 5px;
    font-family: TextaBold, Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
    Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
    Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
    sans-serif !important; /* TextaRegular a little hard to read on the menu items*/
}

.notificationCount {
    background-color: #DB6619;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px;
    height: 10px;
}

html,body {
    font-family: TextaRegular, Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro",
    Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
    Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}

