<configuration scan="true">

    <!-- APPENDERS -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
                      ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} username=%X{username} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <port>5000</port>
        <facility>LOCAL0</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <!-- The following appender could be used to log specific user log entries to individual files -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
            <key>username</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="STDOUT-${username}" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                  <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} username=%X{username} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- LOGGERS -->
    <logger name="org.iplantc.de.login" level="INFO" />
    <logger name="org.iplantc.de.login.failure" level="INFO" />
    <logger name="org.iplantc.de.logout" level="INFO" />
    <logger name="org.iplantc.de.api" level="INFO"/>
    <logger name="org.iplantc.de.api.json" level="TRACE" additivity="false"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache.http.wire" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
