
Hello {0} and iPlant Team!

This email is a notification to confirm the successful submission of {0}''s tool request.  {0}, you will be contacted
by support with status updates.

The new tool request bundle is available within iRODS at the following location:

{1}

This request was made at: {2}

