# We're an nginx for {{env "NGINX_PROXY_SERVICE_NAME"}} on port {{env "NGINX_PROXY_PORT"}}
# Here's what consul thinks of us (assuming we're registered as {{env "NGINX_PROXY_SERVICE_NAME"}}-nginx:
{{- range service (printf "%s-nginx" (env "NGINX_PROXY_SERVICE_NAME")) "any" }}
# {{.ID}} {{.Address}}:{{.Port}} {{.Tags}}
{{- range .Checks }}
# * ({{.CheckID}} {{.Status}}: {{.Output | replaceAll "\n" "\n#"}})
{{- end }}
{{- end }}

events {
    worker_connections 4096;
}

http {
    client_max_body_size 0;

{{- with $service_query := (printf "%s.%s" (env "DE_ENV") (env "NGINX_PROXY_SERVICE_NAME")) }}
  {{- if service $service_query }}
    upstream service {
    {{- range service $service_query }}
      server {{.Address}}:{{.Port}} max_fails=3 fail_timeout=60 weight=1 {{- if not (.Tags.Contains (key_or_default (printf "%s/%s/color" (env "DE_ENV") (env "NGINX_PROXY_SERVICE_NAME")) "green"))}} backup{{end}}; # {{.ID}} {{.Tags}}
    {{- end }}
    }

    server {
      listen {{env "NGINX_PROXY_PORT"}};

      location / {
        proxy_pass http://service;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Port {{env "NGINX_PROXY_PORT"}};
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
      }
    }
  {{- else }}
    server {
      listen {{env "NGINX_PROXY_PORT"}};

      return 502;
    }
  {{- end }}
{{- end }}
}
