pom.xml
*jar
/lib/
/classes/
.lein-repl-history
.lein-deps-sum
.lein-plugins
/bin
/native
/.lein-failures
/checkouts
/.classpath
/.project
/apps
/apps.spec
/apps*.tar.gz
/target
*~
\#*
.dir-locals.el
.*.eld
.nrepl-port
apps.properties
.hgignore
CHANGELOG.md
LICENSE
README.md
/doc/
test2junit
build.xml
