# The URL to use when connecting to the database.
hibernate.connection.url = {{ grouper.db.url }}

# The credentials used to access the database.
hibernate.connection.username = {{ grouper.db.user }}
hibernate.connection.password = {{ grouper.db.pass }}
