# hostname:port:database:username:password
{{db_host}}:*:{{db_name}}:{{db_user}}:{{db_password}}
{{db_host}}:*:*:{{db_admin}}:{{db_admin_password}}
{{notif_db_host}}:*:{{notif_db_name}}:{{notif_db_user}}:{{notif_db_password}}
{{notif_db_host}}:*:*:{{notif_db_admin}}:{{notif_db_admin_password}}
{{metadata_db_host}}:*:{{metadata_db_name}}:{{metadata_db_user}}:{{metadata_db_password}}
{{metadata_db_host}}:*:*:{{metadata_db_admin}}:{{metadata_db_admin_password}}
{{jex_db_host}}:*:{{jex_db_name}}:{{jex_db_user}}:{{jex_db_password}}
{{jex_db_host}}:*:*:{{jex_db_admin}}:{{jex_db_admin_password}}
{{ansible_fqdn}}:*:{{db_name}}:{{db_user}}:{{db_password}}
{{ansible_fqdn}}:*:{{notif_db_name}}:{{notif_db_user}}:{{notif_db_password}}
{{icat_host}}:*:{{icat_name}}:{{icat_user}}:{{icat_password}}
