# Tree URL cleanup settings.
clockwork.tree-urls-cleanup-age     = {{ tree_urls.cleanup_age }}
clockwork.tree-urls-cleanup-start   = {{ tree_urls.cleanup_start }}
clockwork.tree-urls-cleanup-enabled = {{ tree_urls.cleanup_enable }}

# iRODS configuration settings.
clockwork.tree-urls-avu  = {{ tree_urls.avu }}
clockwork.irods-host     = {{ irods.host }}
clockwork.irods-port     = {{ irods.port }}
clockwork.irods-user     = {{ irods.user }}
clockwork.irods-password = {{ irods.password }}
clockwork.irods-home     = {{ irods.home }}
clockwork.irods-zone     = {{ irods.zone }}
clockwork.irods-resource = {{ irods.default_resource }}

# Notification cleanup settings.
clockwork.notifications.cleanup-start  = {{ notificationagent.clean_start }}
clockwork.notifications.cleanup-age    = {{ notificationagent.clean_age }}
clockwork.notifications.cleanup-enable = {{ notificationagent.clean_enable }}

# Notifiction database connection settings.
clockwork.notifications.db.driver      = {{ notification_db_driver }}
clockwork.notifications.db.subprotocol = {{ notification_db_vendor }}
clockwork.notifications.db.host        = {{ notification_db_host }}
clockwork.notifications.db.port        = {{ notification_db_port }}
clockwork.notifications.db.name        = {{ notification_db_name }}
clockwork.notifications.db.user        = {{ notification_db_user }}
clockwork.notifications.db.password    = {{ notification_db_password }}
