log_facility=daemon
pid_file=/var/run/nrpe.pid
server_port=5666
dont_blame_nrpe=0 
command_timeout=60
connection_timeout=300

nrpe_user={{ nrpe_user }}
nrpe_group={{ nrpe_user }}

allowed_hosts=127.0.0.1,150.135.78.230,128.196.172.195,150.135.78.100


command[check_users]={{ plugin_dir }}/check_users -w 5 -c 10

command[check_load]={{ plugin_dir }}/check_load -w {{ nrpe_load_w1|default(15) }},{{ nrpe_load_w5|default(10) }},{{ nrpe_load_w15|default(5) }} -c 30,25,{{ nrpe_load_c15|default(20) }}

command[check_disks]={{ plugin_dir }}/check_disk -w {{ nrpe_disk_warn_bnd|default('20%') }} -c {{ nrpe_disk_crit_bnd|default('10%') }}{% for dir in nrpe_check_dirs|default(['/', '/boot']) %} -p {{ dir }}{% endfor %} 

command[check_zombie_procs]={{ plugin_dir }}/check_procs -w {{ nrpe_zombie_warn_bnd|default(5) }} -c {{ nrpe_zombie_crit_bnd|default(10) }} -s Z

command[check_total_procs]={{ plugin_dir }}/check_procs -w {{ nrpe_total_proc_warn_bnd|default(600) }} -c {{ nrpe_total_proc_crit_bnd|default(650) }}
 
command[check_tivoli]={{ plugin_dir }}/check_procs --critical=1:1 -C dsmcad

command[check_connections]={{ plugin_dir }}/check_connections -w {{ nrpe_conn_warn_bnd|default(30) }} -c {{ nrpe_conn_crit_bnd|default(50) }}


# Following three are optional, these are for monitoring tomcat

command[check_jmx4perl]=check_jmx4perl --url http://localhost:8080/jolokia --name memory_used --mbean java.lang:type=Memory --attribute HeapMemoryUsage --path used --critical 34000000000 --warning 3000000000

command[check_tomcat_threads]=php {{ plugin_dir }}/check_tomcat_threads.php

command[check_log_tomcat]={{ plugin_dir }}/check_log -F /opt/tomcat/logs/debug.log -O /var/log/nagios/old_debug.log -q java.lang.OutOfMemoryError


include_dir={{ cfg_include_dir }}

