irods-host = {{ irods_host }}
irods-port = {{ irods_port }}
irods-user = {{ irods_user }}
irods-password = {{ irods_password }}
irods-zone = {{ irods_zone }}
irods-home = {{ irods_home }}
anon-user = {{ anon_files_anon_user }}
port = {{ anon_files_port }}
log-file = {{ anon_files_log_file }}
