.label {
    font-weight: bold;
    font-size: 10px;
    width: 90px;
}

.value {
    font-size: 10px;
    padding-left: 2px;
}

.hidden {
    display: none;
}

.hyperlink {
    font-size: 11px;
    cursor: pointer;
    color: #0098aa;
}

.hyperlink:hover {
    text-decoration: underline;
    background-color: #ededed;
}

.disabledHyperlink {
    cursor: default;
    color: black;
}
.disabledHyperlink:hover {
    text-decoration: none;
    background-color: inherit;
}

.deselectIcon {
    float: right;
    cursor: pointer;
}

.table {
    width: 100%;
}

.tagSearch {
    width: 100%;
}

.row {
}

tr.row > td {
    padding-bottom: 1em;
}

.emptyDetails {
    position: absolute;
    font-size: 10px;
    padding-left: 2px;
}